@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'Roboto Black';
  src: url("../fonts/Roboto-Black.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  position: relative; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #021A25;
  padding: 1.3rem 5rem;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0; }
  header h1 {
    color: #F2F2F2;
    font-family: 'Roboto Bold';
    font-size: 1.5rem;
    font-weight: normal; }
  header nav a {
    color: #A1A1A1;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto';
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-left: 2rem; }
    header nav a:hover {
      color: #c7c7c7; }
  header nav .nav-button-selected {
    color: #F2F2F2; }
    header nav .nav-button-selected:hover {
      color: #F2F2F2; }

.banner {
  background-color: #021A25;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  overflow: hidden; }

.general-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #D7F205;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #D7F205;
  border-radius: 5px;
  transition: .3s linear 0s;
  cursor: pointer;
  font-family: 'Roboto Black';
  font-size: 1.2rem;
  width: 18rem;
  padding: .5rem 2rem; }
  .general-button:hover {
    color: #021A25;
    background-color: #D7F205; }
  .general-button [class^="flaticon-"]:before, .general-button [class*=" flaticon-"]:before,
  .general-button [class^="flaticon-"]:after, .general-button [class*=" flaticon-"]:after {
    font-size: 1.7rem; }

.title,
.subtitle {
  font-weight: normal;
  cursor: default; }

.title {
  color: #F2F2F2;
  font-family: 'Roboto Black';
  font-size: 2.6rem;
  padding-bottom: 3rem; }

.subtitle {
  color: #A1A1A1;
  font-family: 'Roboto';
  font-size: 1.2rem;
  margin-bottom: 1.5rem; }

[id^=form-sign-] {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start; }
  [id^=form-sign-] label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #A1A1A1;
    font-family: 'Roboto';
    width: 100%;
    max-width: 30rem;
    margin-bottom: 2.5rem; }
    [id^=form-sign-] label input {
      width: 1.3rem;
      height: 1.3rem;
      margin: 0 1rem; }
  [id^=form-sign-] div {
    display: flex;
    align-items: center;
    border: 1px solid #D7F205;
    border-radius: 7px;
    width: 100%;
    max-width: 30rem;
    margin-bottom: 1rem; }
    [id^=form-sign-] div span {
      color: #D7F205;
      font-size: 1.3rem;
      padding: 0 1rem; }
    [id^=form-sign-] div input,
    [id^=form-sign-] div textarea {
      color: #F2F2F2;
      background-color: rgba(0, 0, 0, 0);
      font-family: 'Roboto';
      border: none;
      width: 100%;
      font-size: 1rem; }
      [id^=form-sign-] div input:focus,
      [id^=form-sign-] div textarea:focus {
        outline: none; }
      [id^=form-sign-] div input::placeholder,
      [id^=form-sign-] div textarea::placeholder {
        color: #A1A1A1; }
    [id^=form-sign-] div input {
      height: 2rem; }
    [id^=form-sign-] div textarea {
      resize: none;
      line-height: 1.5rem;
      height: 40vh;
      padding: .5rem 0; }
  [id^=form-sign-] button {
    color: #021A25;
    background-color: #D7F205;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto Black';
    font-size: 1.2rem;
    transition: .2s linear 0s;
    cursor: pointer;
    width: 100%;
    max-width: 30rem;
    padding: .5rem 0; }
    [id^=form-sign-] button:hover {
      background-color: #546807; }

#banner-home {
  background-image: url(../img/banner_devon_divine.jpg);
  height: 110vh; }
  #banner-home .welcome {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-image: linear-gradient(to right, #021A25 10%, rgba(2, 26, 37, 0.8) 50%, rgba(2, 26, 37, 0.4) 80%, rgba(250, 250, 250, 0.1));
    width: 100%;
    height: 100%;
    padding-left: 5rem; }
    #banner-home .welcome .buttons {
      display: flex; }
      #banner-home .welcome .buttons a {
        text-decoration: none; }
      #banner-home .welcome .buttons a[name="sign-in"] {
        margin-right: 5rem; }

#banner-sign {
  height: 100vh; }
  #banner-sign .background-opaque {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: rgba(2, 26, 37, 0.8);
    width: 100%;
    height: 100%;
    padding: 3rem 5rem; }
    #banner-sign .background-opaque figure,
    #banner-sign .background-opaque form {
      width: 100%;
      height: 100%;
      padding: 3rem 0 0 0; }
    #banner-sign .background-opaque figure {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
      #banner-sign .background-opaque figure table {
        width: 80%;
        font-family: 'Roboto';
        cursor: default; }
        #banner-sign .background-opaque figure table thead tr {
          color: #b2b2b2;
          background-color: rgba(2, 26, 37, 0.9); }
        #banner-sign .background-opaque figure table tbody tr {
          color: #A1A1A1;
          background-color: rgba(2, 26, 37, 0.3);
          font-size: 1rem; }
          #banner-sign .background-opaque figure table tbody tr:hover td {
            color: #D7F205; }
          #banner-sign .background-opaque figure table tbody tr td {
            padding: .3rem 0 .3rem 1rem; }

#banner-contact {
  background-image: url("../img/contact_fang_wei_lin.jpg");
  height: 110vh; }
  #banner-contact .background-opaque {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: rgba(2, 26, 37, 0.9);
    width: 100%;
    height: 100%;
    padding: 5rem 5rem; }
    #banner-contact .background-opaque [class^=contact-] details {
      margin-bottom: 3rem; }
      #banner-contact .background-opaque [class^=contact-] details summary:focus {
        outline: none; }
      #banner-contact .background-opaque [class^=contact-] details .subtitle {
        margin-bottom: inherit;
        margin-bottom: .8rem; }
      #banner-contact .background-opaque [class^=contact-] details > div {
        display: flex;
        justify-content: flex-start;
        color: #A1A1A1;
        padding-left: 3rem;
        margin-bottom: .5rem;
        cursor: default; }
        #banner-contact .background-opaque [class^=contact-] details > div:hover {
          color: #D7F205; }
        #banner-contact .background-opaque [class^=contact-] details > div a {
          color: #A1A1A1;
          font-family: 'Roboto Light';
          text-decoration: none;
          margin-left: .8rem; }
          #banner-contact .background-opaque [class^=contact-] details > div a:hover {
            color: #D7F205; }
    #banner-contact .background-opaque .contact-mail .title {
      text-align: right; }

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #021A25;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: 1.5s ease-in-out 0s;
  width: 35vw;
  height: 100vh;
  padding: 5rem; }
  .settings .info, .settings .buttons {
    width: 100%; }
  .settings .info {
    color: #F2F2F2; }
    .settings .info #settings-id,
    .settings .info #settings-name-surname {
      color: #F2F2F2;
      font-family: 'Roboto Black';
      font-size: 2.2rem; }
    .settings .info #settings-name-surname {
      margin-bottom: 1.5rem; }
    .settings .info p {
      color: #A1A1A1;
      font-family: 'Roboto';
      font-size: 1.2rem;
      margin: .5rem 0; }
      .settings .info p span {
        margin-right: .5rem; }
  .settings .buttons button {
    color: #F2F2F2;
    background-color: rgba(250, 250, 250, 0.2);
    border: none;
    border-radius: 5px;
    transition: .3s ease 0s;
    cursor: pointer;
    font-family: 'Roboto Black';
    font-size: 1rem;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0; }
    .settings .buttons button:hover {
      color: #021A25;
      background-color: #D7F205; }
    .settings .buttons button span {
      font-weight: bolder;
      margin-right: .5rem; }

#about-section {
  background-image: linear-gradient(to bottom, #021A25 40%, black); }
  #about-section .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    padding: 5rem 5rem;
    overflow: hidden; }
    #about-section .info > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5rem 0; }
      #about-section .info > div [class^=img-] {
        width: 40vw;
        position: relative;
        border-radius: 5px;
        overflow: hidden; }
        #about-section .info > div [class^=img-] img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        #about-section .info > div [class^=img-] a {
          position: absolute;
          z-index: 2;
          bottom: 1rem;
          left: 1rem; }
      #about-section .info > div .lore-ceo {
        text-align: right; }
      #about-section .info > div .lore-team {
        text-align: left; }
      #about-section .info > div [class^=lore-] .title {
        color: inherit;
        color: #D7F205;
        padding: inherit;
        padding-bottom: 2rem; }
      #about-section .info > div [class^=lore-] .subtitle {
        color: inherit;
        color: #F2F2F2; }
      #about-section .info > div [class^=lore-] p {
        color: #A1A1A1;
        font-family: 'Roboto Light';
        font-size: .9rem;
        width: 40vw;
        margin-top: 3rem;
        line-height: 1.5rem; }

.pending,
.successful,
.failure {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5rem;
  padding: 0 5rem;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: .7 ease 0s; }
  .pending p,
  .successful p,
  .failure p {
    color: #F2F2F2;
    font-family: 'Roboto Black'; }

.pending {
  background-color: #C3A50C;
  z-index: inherit;
  z-index: 4; }

.successful {
  background-color: #546807; }

.failure {
  background-color: #680707; }
