//-----------------------------PUNTOS EN COMUN ENTRE BANNERS(PARA AHORRAR TAMAÑO)
.banner
	background-color: $BLACK
	background-size: cover
	background-repeat: no-repeat
	background-position: center

	width: 100%
	overflow: hidden

.general-button
	display: flex
	align-items: center
	justify-content: space-between

	color: $GREEN
	background-color: rgba(0, 0, 0, 0)

	border: 1px solid $GREEN
	border-radius: 5px
	transition: .3s linear 0s
	cursor: pointer

	font-family: 'Roboto Black'
	font-size: 1.2rem

	width: 18rem
	padding: .5rem 2rem

	&:hover
		color: $BLACK
		background-color: $GREEN

	[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
	[class^="flaticon-"]:after, [class*=" flaticon-"]:after
		font-size: 1.7rem

.title,
.subtitle
	font-weight: normal
	cursor: default

.title
	color: $WHITE
	font-family: 'Roboto Black'
	font-size: 2.6rem
	padding-bottom: 3rem

.subtitle
	color: $GRAY
	font-family: 'Roboto'
	font-size: 1.2rem
	margin-bottom: 1.5rem

[id^=form-sign-]
	display: flex
	flex-direction: column
	align-items: flex-end
	justify-content: flex-start

	div
		display: flex
		align-items: center

		border: 1px solid $GREEN
		border-radius: 7px
		width: 100%
		max-width: 30rem
		margin-bottom: 1rem

		span
			color: $GREEN
			font-size: 1.3rem
			padding: 0 1rem

		input,
		textarea
			color: $WHITE
			background-color: rgba(0, 0, 0, 0)
			font-family: 'Roboto'
			border: none
			width: 100%
			font-size: 1rem

			&:focus
				outline: none
			&::placeholder
				color: $GRAY

		input
			height: 2rem


		textarea
			resize: none
			line-height: 1.5rem
			height: 40vh
			padding: .5rem 0


	button
		color: $BLACK
		background-color: $GREEN
		border: none
		border-radius: 7px

		font-family: 'Roboto Black'
		font-size: 1.2rem

		transition: .2s linear 0s
		cursor: pointer

		width: 100%
		max-width: 30rem
		padding: .5rem 0

		&:hover
			background-color: $GREEN_DARK

//-----------------------------BANNER PARA INICIO	
#banner-home
	background-image: url(../img/banner_devon_divine.jpg)
	height: 110vh

	.welcome
		display: flex
		flex-direction: column
		align-items: start
		justify-content: center

		background-image: linear-gradient(to right, $BLACK 10%, rgba(2, 26, 37, .8) 50%, rgba(2, 26, 37, .4) 80%, rgba(250, 250, 250, .1))

		width: 100%
		height: 100%
		padding-left: 5rem

		.buttons
			display: flex

			a
				text-decoration: none

			a[name="sign-in"]
				margin-right: 5rem

//-----------------------------BANNER PARA INICIO O REGISTRO DE SESIÓN
#banner-sign
	height: 100vh

	.background-opaque
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-template-rows: 1fr

		background-color: rgba(2, 26, 37, .8)
		width: 100%
		height: 100%
		padding: 3rem 5rem

		figure,
		form
			width: 100%
			height: 100%

			padding: 3rem 0 0 0

		figure
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: flex-start

			table
				width: 80%
				font-family: 'Roboto'
				cursor: default

				thead
					tr
						color: darken($WHITE, 25)
						background-color: rgba(2, 26, 37, .9)

				tbody
					tr
						color: $GRAY
						background-color: rgba(2, 26, 37, .3)
						font-size: 1rem

						&:hover td
							color: $GREEN

						td
							padding: .3rem 0 .3rem 1rem

//-----------------------------BANNER PARA CONTACTO
#banner-contact
	background-image: url('../img/contact_fang_wei_lin.jpg')
	height: 110vh

	.background-opaque
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-template-rows: 1fr

		background-color: rgba(2, 26, 37, .9)
		width: 100%
		height: 100%
		padding: 5rem 5rem

		[class^=contact-]
			details
				margin-bottom: 3rem

				summary:focus
					outline: none

				.subtitle
					margin-bottom: inherit
					margin-bottom: .8rem

				>div
					display: flex
					justify-content: flex-start

					color: $GRAY
					padding-left: 3rem
					margin-bottom: .5rem

					cursor: default

					&:hover
						color: $GREEN

					a
						color: $GRAY
						font-family: 'Roboto Light'
						text-decoration: none
						margin-left: .8rem

						&:hover
							color: $GREEN

		.contact-info

		.contact-mail
			.title
				text-align: right
